header {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 0 16px;
  height: 70px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  flex: 1;
  margin: 0 16px;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  margin-left: 16px;
}

header .logo {
  max-width: 80px;
}

@media (max-width: 500px) {
  header .logo {
    max-width: 50px;
  }
}

main.main-container {
  margin-top: 70px;
}

footer {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 8px 16px;
}

footer ul {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}
